* {
  scrollbar-width: thin;
  scrollbar-color: rgba(213, 213, 213, 0.5) transparent;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(213, 213, 213);
}

.library {
  width: 20rem;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 2px 2px 40px #cbcaca;
  background-color: #fff;
  overflow-y: scroll;
  transform: translateX(-100%);
  transition: all 0.2s linear;
  opacity: 0;
  h2 {
    padding: 2rem;
  }
}
.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  cursor: pointer;
  &:hover {
    background: rgb(220, 220, 246);
  }
  img {
    width: 30%;
  }
  .song-description {
    padding-left: 1rem;
    h3 {
      font-size: 1rem;
    }
    h4 {
      font-size: 0.75rem;
    }
  }
}

.selected {
  background-color: rgb(210, 210, 243);
}

.active-library {
  transform: translateX(0%);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
