nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    border: 2px solid #bcbcbc;
    background: transparent;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    transition: 0.2s all linear;
    &:hover {
      background: rgb(65, 65, 65);
      color: #fff;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}
